.userProfile.my-3
  .card(style='width: 100%;')
    //- img.card-img-top(src='...', alt='Card image cap')
    .card-body
      h5.card-title User Profile
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      a.btn.btn-primary(href='#') Go somewhere
.userProfile.my-3
  .card(style='width: 100%;')
    //- img.card-img-top(src='...', alt='Card image cap')
    .card-body
      h5.card-title User Profile
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      a.btn.btn-primary(href='#') Go somewhere
.userProfile.my-3
  .card(style='width: 100%;')
    //- img.card-img-top(src='...', alt='Card image cap')
    .card-body
      h5.card-title User Profile
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      a.btn.btn-primary(href='#') Go somewhere

            