extends ../layouts/mainLayout.pug
block content
	form.addForm(action='/posts/addPost', method='post',enctype="multipart/form-data")
		.row.mb-3
			label.col-sm-2.col-form-label(for='inputEmail3') Subject of blog
			.col-sm-10
				input#inputEmail3.form-control(type='text',name="title")
		fieldset.row.mb-3
			legend.col-form-label.col-sm-2.pt-0 Categories
			.col-3
				.form-group
					select.form-control.my-1(name='postCategories_id', value=(kq? kq.gender:"") required='required')
						each cat in Category
							option(value=cat._id) #{cat.article}
			legend.col-form-label.col-5.pt-0
				a.addCategory.me-3(href='#', role='button')
					i.fas.fa-plus-square.me-2
					span Add Category
				.input-group.buttonAdd.mb-3.my-3
					input.form-control#article(type='text', name="article" placeholder="Category name", aria-label="Category name", aria-describedby='button-addon2')
					button#button-addon2.btn.btn-outline-secondary(type='button') Add 	
		.row.mb-3
			label.col-sm-2.col-form-label(for='inputEmail3') Thumbnail
			.col-sm-10
				input#file.imgload.form-control.my-1(type='file', name='thumbnail', required='required')
				img.imgshow(src='#', align='left', style='width:50px')
		.row
			label.col-sm-2.col-form-label(for='inputPassword3') Content of blog
			.col-sm-10
				textarea#editor(name="content") write content
		.row.my-4
			.col-4.d-flex.justify-content-center.m-auto
				button.btn.btn-primary(type='submit') Create My Blog
				a.btn.btn-warning.ms-3(href='/') Cancel
